*.o
*.a
*.swp
*.swo
*.h5
build/
build*/
*build/
debug/
alps-svn/
*.in.xml
ALPS.xsl
ndim_spin/test/phase_transition/*.pdf
heisenberg_lattice/test/phase_transition/*.pdf
nd_testing/test/phase_transition/*.pdf
*.dat
*.trace
results.txt
.svn/
